* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  /* width: 100%; */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/banner.png) center / cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7%;
}

nav i.fas {
  display: none;
}

.logo {
  width: 140px;
  cursor: pointer;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}

.nav-links a {
  text-decoration: none;
  color: #f5f5f5;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  background: #f5f5f5;
  border-radius: 20px;
  width: 25px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
}

.register-btn {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 20px;
  background: #f5f5f5;
  text-decoration: none;
  color: #0a0a0a;
}

.container {
  padding: 0 7%;
}

.header h1 {
  padding-top: 22%;
  font-size: 4vw;
  font-weight: 500;
  text-align: center;
  color: #f5f5f5;
}

.search-bar {
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  width: 70%;
  border-radius: 50px;
  background: #f5f5f5;
}

.search-bar form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar form input {
  display: block;
  border: 0;
  outline: none;
  background: transparent;
}

.search-bar form button {
  width: 55px;
  height: 55px;
  background: #ff5361;
  border: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.search-bar form button img {
  width: 15px;
  margin-top: 5px;
}

.search-bar form div:first-child {
  flex: 1;
}

.search-bar form label {
  font-weight: 600;
}

/* Exclusives */
.sub-title {
  margin: 50px 0 20px;
  font-size: 2.2vw;
  font-weight: 500;
  color: #333;
}

.exclusives {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.exclusives img {
  width: 100%;
  border-radius: 10px;
}

.exclusives div {
  position: relative;
}

.exclusives div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f5f5f5;
}

/* Trending Places */
.trending {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.trending div img {
  width: 100%;
  border-radius: 10px;
}

.trending h3 {
  margin-top: 10px;
  font-weight: 600;
}

/* Call to action */
.call-to-action {
  margin: 80px 0;
  padding: 5%;
  background: linear-gradient(to right, #3f2321, transparent),
    url(../images/banner-2.png) center / cover;
  border-radius: 10px;
  color: #f5f5f5;
}

.call-to-action h3 {
  font-size: 4vw;
  font-weight: 500;
  line-height: 5.3vw;
}

.call-to-action p {
  margin: 10px 0;
  font-size: 18px;
}

.call-to-action-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  border-radius: 8px;
  background: #ff5361;
  text-decoration: none;
  color: #f5f5f5;
}

/* Travellers Stories */
.stories {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.stories div img {
  width: 100%;
  border-radius: 10px;
}

.stories div {
  position: relative;
  text-align: center;
}

.stories div p {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: #f5f5f5;
}

.start-btn {
  margin: 60px auto;
  padding: 15px;
  display: block;
  width: 80%;
  max-width: 350px;
  border-radius: 30px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background: #ff5361;
  color: #f5f5f5;
}

/* About message */
.about-msg {
  margin: 80px 0;
  font-size: 17px;
  text-align: center;
  color: #333;
}

.about-msg h2 {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 500;
}

/* Footer */
.footer {
  margin: 80px 0 10px;
  text-align: center;
}

.footer a {
  margin: 0 10px;
  font-size: 22px;
  text-decoration: none;
  color: #999;
}

.footer hr {
  margin: 20px 0;
  height: 2px;
  border: 0;
  background: #999;
}

.footer p {
  padding-bottom: 15px;
}

/* Small screen devices */
@media only screen and (max-width: 700px) {
  .logo {
    position: fixed;
    top: 4%;
    left: 7%;
  }

  nav {
    padding: 100px 7% 0;
    width: 100%;
    max-height: 100px;
    overflow: hidden;
    display: inline-block;
    background: #0a0a0a;
    text-align: right;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: max-height 0.5s;
  }

  nav i.fas {
    display: block;
    position: fixed;
    top: 4%;
    right: 7%;
    color: #f5f5f5;
    font-size: 28px;
  }

  nav .nav-links li {
    margin: 10px 0;
    display: block;
  }

  .register-btn {
    margin: 15px 0 30px;
    display: inline-block;
  }

  .active::after {
    left: -40px;
    transform: translate(0, 50%);
    bottom: 50%;
  }

  .show-menu {
    max-height: 300px;
  }

  .header h1 {
    padding-top: 200px;
    font-size: 8vw;
  }

  .search-bar {
    width: 90%;
    margin: 30px auto;
    padding: 20px 10px 30px;
    border-radius: 5px;
    position: relative;
  }

  .search-bar form {
    display: block;
  }

  .search-bar form input {
    width: 100%;
    margin: 10px 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .search-bar form button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .sub-title {
    font-size: 6vw;
  }

  .call-to-action {
    padding: 15% 5%;
  }

  .call-to-action h2 {
    font-size: 7vw;
    line-height: 8vw;
  }

  .call-to-action p {
    font-size: 14px;
  }

  .call-to-action-btn {
    margin-top: 10px;
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 14px;
  }

  .stories p {
    font-size: 18px;
  }

  .about-msg {
    font-size: 15px;
  }
}

/* Listings Page */
.nav-bar-white {
  background-color: #f5f5f5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.nav-bar-white .nav-links li a {
  color: #0a0a0a;
}

.nav-bar-white .register-btn {
  background-color: #ff5361;
  color: #f5f5f5;
}

nav.nav-bar-white i.fas {
  color: #0a0a0a;
}

.nav-bar-white .active::after {
  background: #ff5361;
}

.list-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-col {
  flex-basis: 70%;
}

.right-col {
  flex-basis: 25%;
}

.left-col h1 {
  margin-bottom: 30px;
  font-weight: 600;
  color: #333;
}

.house {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
}

.house-img {
  flex-basis: 40%;
}

.house-info {
  flex-basis: 58%;
  color: #555;
}

.house-img img {
  width: 100%;
  border-radius: 12px;
}

.house-info h3 {
  margin: 4px 0;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.house-info i {
  margin: 10px 1px;
  font-size: 18px;
  color: #ff5361;
}

.house-price {
  text-align: right;
}

.house-price h4 {
  font-size: 20px;
}

.house-price span {
  font-size: 16px;
  font-weight: 500;
}

.sidebar {
  margin-top: 30px;
  padding: 20px 30px;
  border: 1px solid #999;
}

.sidebar h2 {
  font-weight: 500;
}

.sidebar h3 {
  font-weight: 500;
  margin: 20px 0 10px;
}

.filter {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #555;
}

.filter p {
  flex: 1;
}

.filter input {
  margin-right: 15px;
  cursor: pointer;
}

.sidebar-link {
  margin: 20px 0;
  text-align: right;
}

.sidebar-link a {
  text-decoration: none;
}

.pagination {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination img {
  margin: 10px 20px;
  width: 15px;
}

.right-arrow {
  transform: rotate(180deg);
}

.pagination span {
  margin: 10px 8px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.pagination .current {
  background: #333;
  color: #f5f5f5;
}

/* Listing Page Small Screen Devices */
@media only screen and (max-width: 700px) {
  .list-container {
    margin-top: 150px;
  }

  .left-col,
  .right-col,
  .house-img,
  .house-info {
    flex-basis: 100%;
  }

  .left-col h1 {
    font-size: 24px;
  }

  .house-info h3 {
    font-size: 20px;
  }

  .house-info i {
    font-size: 16px;
  }

  .pagination span {
    margin: 10px 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}
